// Colors
$teal: #00AC93;
$lightTeal: #03E0C9;
$darkTeal: #005D4D;

$grey: #878787;
$lightGrey: #B9B9B9;
$darkGrey: #474747;

$white: #FFF;

// Breakpoints
$breakTablet: 721px;
$breakDesktop: 1024px;
$breakLarge: 1280px;